<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header text-white bg-info">Add product</div>
        <div class="card-body">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" #name>
          </div>
          <div class="form-group">
            <label for="">Price</label>
            <input type="price" class="form-control" #price>
          </div>
          <div class="form-group">
            <button class="btn btn-info" (click)="save(name.value, price.value)">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-white bg-secondary">
          Products
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products | async">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
